.relatedproducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.relatedproducts h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.relatedproducts hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.relatedproducts-item {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
.relatedproducts-item img {
    width: 280px;       /* Adjust as needed (try 150px, 180px, etc.) */
    height: 300px;       /* Maintain aspect ratio */
    object-fit: cover;  /* Ensures proper cropping if needed */
    border-radius: 8px; /* Optional: adds rounded corners */
}

@media screen and (max-width: 768px) {
  .related-products-container {
    flex-direction: column;
    align-items: center;
  }
}
