.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 0px;
}

.nav-logo p {
    color: #171717;
    font-size: 32px;
    font-weight: 800;
}

.nav-logo img {
    height: 200px; /* Increased height from 75px to 85px */
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  color: #626262;
  font-size: 18px;
  font-weight: 700; /* Increased to bold */
}


.nav-menu li {
    cursor: pointer;
    position: relative;
}

.nav-menu li::after {
    content: '';
    width: 0;
    height: 3px;
    background: #FF416C;
    border-radius: 9px;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.nav-menu li:hover::after {
    width: 100%;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-login-cart button {
    width: 100px;
    height: 40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 16px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

.nav-login-cart img {
    height: 35px;
    cursor: pointer;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
.nav-user-dropdown {
  position: relative;
  display: inline-block;
}

.user-avatar {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
  z-index: 1;
  padding: 10px;
  text-align: left;
}

.nav-user-dropdown:hover .dropdown-content {
  display: block;
}

.user-initial {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 18px;
}


.profile-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}




